# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
HW2/terraform.tfvars
/1st-keyPair.pem
# Ignore Terraform state and providers
.terraform/
*.tfstate
*.tfstate.backup